*{
	margin:0;
	padding: 0;	
}

.row{
	margin-right: 0 !important;
}

.encabezado{
	position: relative;
	min-height: 650px;
	overflow: hidden;
}

.encabezado_reg{
  position: relative;
  min-height: 300px;
  overflow: hidden;
}

#top {
  padding-top: 68px;
  position: relative;
  z-index: 1;
}

#top .container:after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  /*border-bottom: 1px solid #000;*/
  content: '';
  display: block;
}

#logo{
  text-align: center;
  margin-bottom: 20px;
  max-width: 100%;
}

#logo {
  margin-bottom: 0px;
}
#logo a {
  color: white !important;
  display: inline-block;
  max-width: 100%;
  font: 56px/80px 'Righteous', cursive;
  /*text-transform: lowercase;*/
}
#logo a .site-logo {
  letter-spacing: -3px;
}
#logo a .site-logo:before {
  content: '\e01e';
  font-family: 'fl-sympletts';
  font-size: 42px;
  margin-right: 41px;
  position: relative;
  top: -1px;
}

#logo a:hover{
	text-decoration: none !important;
}


#navigation {
  padding: 27px 0 100px;
  width: 100%;
}

.stuck {
  background: transparent;
  z-index: 1034 !important;
}
body:not(.modal-open) .stuck {
  width: 100% !important;
}

/* Effect 7: second border slides up */
.cl-effect-7 a {
	padding: 5px 5px 5px;
	color: #fff;
	text-shadow: none;
	font-weight: 700;
}

.cl-effect-7 a:hover {
	color: #fff;
  text-decoration: none;
}

.cl-effect-7 a::before,
.cl-effect-7 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #f74753;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
}

.cl-effect-7 a::after {
	opacity: 0;
	-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.cl-effect-7 a:hover::before,
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::before,
.cl-effect-7 a:focus::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::after {
	top: 0%;
	opacity: 1;
}

.icemegamenu > ul {
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
}
.icemegamenu > ul:before,
.icemegamenu > ul:after {
  content: " ";
  display: table;
}
.icemegamenu > ul:after {
  clear: both;
}
.icemegamenu > ul:before,
.icemegamenu > ul:after {
  content: " ";
  display: table;
}
.icemegamenu > ul:after {
  clear: both;
}
.icemegamenu > ul > li {
  display: inline-block;
  margin: 0 4px;
  position: relative;
}
.icemegamenu > ul > li > a.iceMenuTitle {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  font: 16px / 45px 'Roboto', sans-serif;
  padding: 0px 20px;
  color: #fff;
  background: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.icemegamenu > ul > li > a.iceMenuTitle * {
  font: inherit;
}

.icemegamenu > ul > li.active > a.iceMenuTitle.menu-login-form,
.icemegamenu > ul > li.hover > a.iceMenuTitle.menu-login-form {
  background: none;
  color: #2a2d2d;
}
.icemegamenu > ul > li span.icemega_desc {
  color: #ffffff;
  display: block;
  line-height: 1.25em;
  padding: 0;
}
.icemegamenu .ice-megamenu-toggle {
  display: none;
}
/* when dont have subtitle */
.icemegamenu > ul > li > a.iceMenuTitle > span.icemega_nosubtitle {
  display: inline-block;
}
ul.icesubMenu {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 0;
  left: 50%;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 20px 0;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 100%;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -moz-transform: translate(-50%, 30px);
  -webkit-transform: translate(-50%, 30px);
  -ms-transform: translate(-50%, 30px);
  -o-transform: translate(-50%, 30px);
  transform: translate(-50%, 30px);
  z-index: 9999;
  background: #ffffff;
  border: none;
}
ul.icesubMenu > li:before,
ul.icesubMenu > li:after {
  content: " ";
  display: table;
}
ul.icesubMenu > li:after {
  clear: both;
}
ul.icesubMenu > li:before,
ul.icesubMenu > li:after {
  content: " ";
  display: table;
}
ul.icesubMenu > li:after {
  clear: both;
}
ul.icesubMenu li a.iceMenuTitle {
  display: block;
  font: 15px / 22px 'Roboto', sans-serif;
  padding: 4px 20px;
  color: #2a2d2d;
  text-align: center;
}
ul.icesubMenu li.active > a.iceMenuTitle,
ul.icesubMenu li:hover > a.iceMenuTitle,
ul.icesubMenu li.hover > a.iceMenuTitle {
  color: #f74753;
  background: transparent;
}
ul.icesubMenu.sub_level_1 {
  margin-top: 20px;
}
ul.icesubMenu.sub_level_2 {
  margin-top: -20px;
}
li[class*=iceMenuLiLevel] {
  padding: 0;
}
#icemegamenu li.iceMenuLiLevel_1.hover > ul.icesubMenu {
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
  -moz-transform: translate(-50%, 0px);
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
#icemegamenu li.iceMenuLiLevel_1 li.hover > ul.icesubMenu {
  height: auto;
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
  -moz-transform: translate(0, 0px);
  -webkit-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  transform: translate(0, 0px);
}
#icemegamenu ul.icesubMenu.visible {
  height: auto;
}
ul.icesubMenu ul > li {
  position: relative;
}
/* when is parent */
ul.icesubMenu > li:before {
  display: none;
}
ul.icesubMenu > li > .iceCols {
  max-width: 100% !important;
  width: 100%;
}
/* Second Level Dropdown */
ul.sub_level_2,
ul.sub_level_3,
ul.sub_level_4,
ul.sub_level_5 {
  left: 100%;
  top: 0px;
  -moz-transform: translate(30px, 0);
  -webkit-transform: translate(30px, 0);
  -ms-transform: translate(30px, 0);
  -o-transform: translate(30px, 0);
  transform: translate(30px, 0);
  z-index: 99999;
}
ul.icesubMenu ul > li.hover > ul {
  opacity: 1;
  overflow: visible;
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  visibility: visible;
}
.icesubMenu .icemega_cover_module span.iceModuleTile {
  display: block;
}
.ice_righttoleft {
  left: auto !important;
  right: 0;
}
.icemega_modulewrap {
  padding: 20px;
}
.nav-collapse .icesubMenu .nav > li > a,
.nav-collapse .icesubMenu .dropdown-menu a {
  margin-bottom: 0;
  padding: 0;
}
.nav-collapse.collapse {
  height: auto;
}
.rd-mobilemenu_ul a.active,
.rd-mobilemenu_ul li.level_1.active > a {
  color: white !important;
}

.bg-nav{
  width: 100%;
  min-height: 250px;
  z-index: 0;
  position: absolute;
  top: 0;
  background-color: black;
  background-image: url('../images/bg_nav.jpg');
  background-size: cover;
}

/*SLIDER*/
.slider{
	width: 100%;
	min-height: 600px;
	background-color: black;
	z-index: 0;
	position: absolute;
	top: 0;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
.carousel-caption {
    text-shadow: 0 1px 4px rgba(0,0,0,.9);
  font-size:17px
}
.carousel-caption h3 {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  /*height: 100%;*/
  min-height: 650px;
  /*margin-top: -7px;*/
  position: relative;
}
.item:nth-child(1) {
  background: url('../images/slid-2.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.item:nth-child(2) {
  background: url('../images/slid-5.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.item:nth-child(3) {
  background: url('../images/slid-3.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.item:nth-child(4) {
  background: url('../images/slid-4.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*Contenido*/
.cotenido{
	position: relative;
	width: 100%;
	min-height: 500px;
}

.content {
    padding-bottom: 4%;
    padding-top: 7%;
}

.content article{
  text-align: justify;
}

.content_reg {
    padding-bottom: 4%;
}

/*Titulos*/

.titulo{
	max-height: 70px;
	border-bottom:5px solid #f74753;
	width:25%;	
	text-align: center;
	margin: auto;
	margin-bottom: 40px;
}

.page-header,.page_header{
	text-align:center;
	position: relative;
}
.page-header *[class*=heading-style],.page_header *[class*=heading-style]{
	letter-spacing:-4px;
	margin-bottom:59px;
	padding-bottom:14px;
}

.page-header *[class*=heading-style]:after,.page_header *[class*=heading-style]:after{
	display:inline-block;
	border-bottom:5px solid #f74753;
	width:100%;
	max-width:139px;
	content:'';
	/*text-align: center;*/
	position:absolute;
	left:50%;
	bottom:0;
	-moz-transform:translate(-50%,0%);
	-webkit-transform:translate(-50%,0%);
	-ms-transform:translate(-50%,0%);
	-o-transform:translate(-50%,0%);
	transform:translate(-50%,0%);
	
}

h1.heading-style-1{
	font-size: 82px;
	font-family: 'Righteous', cursive;
	/*text-align: center;*/
/*	letter-spacing:-4px;
	margin-bottom:59px;
	padding-bottom:14px;
	margin-top:59px;
	padding-top:14px;*/
}

article{
	max-width: 80%;
	margin: 30px auto;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

/*Contactenos*/
.contact{
	background: #f5f5f5;
	position: relative;
	min-height: 680px;
}

/*Menu desplegable*/

.menu{
  position: fixed;
  top: 0px;
  width: 100%;
  border-radius: 0;
  color: #fff;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  /*font-weight: 400;*/
  background: #000;
  display: none;
  vertical-align: middle;
  -webkit-box-shadow: 0 5px 10px 1px #000;
	box-shadow: 0 5px 10px 1px #000;
	background-image: url('../images/bg-foot.gif');
}

.menu a:hover,
.menu a:focus {
	outline: none;
}

/* Effect 7: second border slides up */
.menu a {
	padding: 7px 5px 3px;
	display: block;
  	font: 16px / 45px 'Roboto', sans-serif;
  	padding: 0px 20px;
  	color: #fff;
  	background: transparent;
  	letter-spacing: 2px;
  	text-transform: uppercase;
}

.menu a:hover {
	color: #fff;
  text-decoration: none;
}

.menu a::before,
.menu a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #f74753;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
}

.menu a::after {
	opacity: 0;
	-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.menu a:hover::before,
.menu a:hover::after,
.menu a:focus::before,
.menu a:focus::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.menu a:hover::after,
.menu a:focus::after {
	top: 0%;
	opacity: 1;
}

/* End menu desplegable*/

/* Login */
.login{
	width: 100%;
	max-width: 330px;
	position: fixed;
	height: 400px;
	background: #fff;
	top: 0;
	right: -330px;
	z-index: 10000;
}

.login .user{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: -40px;
	color: #fff;
	padding: 5px;
	background-color: #f74753;
	text-align: center;
	font-size: 20px;
}

.login a:hover {
	background-color: #fff;
	color: #f74753;
	cursor: pointer;
}

.frm{
	padding-top: 50px;
	width: 80%;
	margin: auto;
	text-align: center;
}

.frm input{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.frm h3 .heading-style-2{
	font-family: 'Righteous', cursive !important;
}

.botn-log{
	width: 100%;
	background-color: #ccc;
	min-height: 130px;
	position: absolute;
	bottom: 0;
	left: 0;
  text-align: center;
}

.botn-log p{
  margin-top: 20px;
  margin-left: 10px;
  font: 16px 'Spectral', serif !important;
  text-align: left;
}

.botn-log p a{
  font: 16px 'Spectral', serif !important;
  color: #000;
}

.botn-log p a:hover{
  background-color: transparent;
}


.botn-log button{
	margin-top: 15%;
}

.btn-primary {
    color: #fff;
    background-color: #f74753 !important;
    border-color: #f80b1b !important;
}

.btn-primary:hover {
    color: #f74753 !important;
    background-color: #fff !important;
    border-color: #f80b1b !important;
}

.parrafo{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.centro{
  text-align: center;
}

.parrafo_himno{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.thumbnail > img {
    max-width: 200px !important;
}

.thumbnail .caption {
    min-height: 220px;
}

.frm{
  border-radius: 0 !important;
  text-align: left;
  font: 16px 'Spectral', serif !important;
  /*font-size: 16px !important;*/
  height: 40px !important;
}

textarea {
    box-shadow: none;
    border-radius: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin: 0;
    margin-bottom: 0px;
    width: 100%;
    outline: none;
    border: 1px solid #cecece;
    background: #ffffff;
    font: 16px 'Spectral', serif !important;
    line-height: normal;
    line-height: 18px;
    color: #bab9b9;
    padding: 10px 14px 10px 14px;
    height: 200px !important;
    resize: none;
}

.dir{
  font: 16px 'Spectral', serif !important;
}

.dir i{
  font-size: 30px;
  color: #c66c72;
}

.sep{
  margin-top: 20px;
  margin-bottom: 30px;
}

.heading-style-2{
  font-family: 'Righteous', cursive !important;
}

.thumbnail > .image {
    max-width: 100% !important;
    height: 250px;
}

.desc_circular{
  min-height: 60px;
  max-height: 70px;
}

footer{
	min-height: 50px;
	bottom: 0;
	background: #000;
	position: relative;
	background-image: url('../images/bg-foot.gif');
}

footer p{
	color: #c5c5c5;
	font-family: 'Bellefair', serif;
	float: right;
	right: 30px;
	top: 20px;
	position: absolute;
}

/*
medidas para responsive
- 1200px
- 1000px
- 768px
- 320px
*/

 @media (max-width: 1200px) {
    .icemegamenu > ul > li > a.iceMenuTitle {
      padding: 0px 14px;
    }

    #logo a {
      font: 51px/80px 'Righteous', cursive;
    }
}